bin/
gen/
libs/
.settings/
image_src/unused/
image_src/bbxeps/
res/drawable-hdpi/ic_dialog_target.png
res/drawable-hdpi/ic_dialog_target_both.png
res/drawable-hdpi/ic_dialog_target_file.png
res/drawable-hdpi/ic_dialog_target_graph.png
res/drawable-ldpi/ic_dialog_target.png
res/drawable-ldpi/ic_dialog_target_both.png
res/drawable-ldpi/ic_dialog_target_file.png
res/drawable-ldpi/ic_dialog_target_graph.png
res/drawable-mdpi/ic_dialog_target.png
res/drawable-mdpi/ic_dialog_target_both.png
res/drawable-mdpi/ic_dialog_target_file.png
res/drawable-mdpi/ic_dialog_target_graph.png
res/drawable-xhdpi/ic_dialog_target.png
res/drawable-xhdpi/ic_dialog_target_both.png
res/drawable-xhdpi/ic_dialog_target_file.png
res/drawable-xhdpi/ic_dialog_target_graph.png
res/drawable-hdpi/ic_dialog_speed_fast.png
res/drawable-hdpi/ic_dialog_speed_medium.png
res/drawable-hdpi/ic_dialog_speed_slow.png
res/drawable-hdpi/ic_dialog_speed_vfast.png
res/drawable-ldpi/ic_dialog_speed_fast.png
res/drawable-ldpi/ic_dialog_speed_medium.png
res/drawable-ldpi/ic_dialog_speed_slow.png
res/drawable-ldpi/ic_dialog_speed_vfast.png
res/drawable-mdpi/ic_dialog_speed_fast.png
res/drawable-mdpi/ic_dialog_speed_medium.png
res/drawable-mdpi/ic_dialog_speed_slow.png
res/drawable-mdpi/ic_dialog_speed_vfast.png
res/drawable-xhdpi/ic_dialog_speed_fast.png
res/drawable-xhdpi/ic_dialog_speed_medium.png
res/drawable-xhdpi/ic_dialog_speed_slow.png
res/drawable-xhdpi/ic_dialog_speed_vfast.png
